.header-padding-top {
  padding-top: 17px;
}
header {
  top: 0;
  height: 55px;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 900;
}

.header-floating {
  position: absolute;
  top: 0;
  width: 100%;
}